<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="QLTV" connectionString="Data Source=DESKTOP-0733NC8\SQLEXPRESS;Initial Catalog=QuanLyThuVien;Integrated Security=True" />
    <add name="QuanLyThuVienConnectionString" connectionString="Data Source=DESKTOP-0733NC8\SQLEXPRESS;Initial Catalog=QuanLyThuVien;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
